<% content_for :title, 'Overdue' %>
<% c 'Overdue' %>
<% cur_userid = nil %>

<% if @overdue_tasks.empty? %>
  <div class="alert-box large-4">
    Nothing overdue.  
  </div>
<% end %>

<div class="panel large-12">
  <%= form_tag overdue_path, method: :get do %>
    <div class="row">
      <div class="large-2 columns">
        <%= collection_select nil, :user_id, User.order(:last_name, :first_name), :id, :full_name, 
            {include_blank: 'All Users', selected: params[:user_id.to_s]} %> 
      </div>
      <div class="large-10 columns">
        <%= submit_tag 'Filter', name: nil, class: 'button small' %>
      </div>
    </div>
  <% end %>
</div>

<div class="small-6">
  <%= will_paginate @overdue_tasks, renderer: FoundationPagination::Rails %>
</div>

<div>
  <% @overdue_tasks.each do |row| %>
    <% odt = row[0] %>
    <% od_date = row[1] %>
    <% if cur_userid != odt.user.id %>
      <% reset_cycle() %>
      <br/>
      <div class="row headerrow" <%= hide_from_other_users(odt.user.id)%> >
        <div class="columns">
          <h3><%= odt.user.full_name %></h3>
        </div>
      </div>
      <% cur_userid = odt.user.id %>
    <% end %>
    <div id="<%= odt.schedule.id.to_s + '-' +l(od_date, format: :short_date_only) %>" class="row <%= cycle('oddrow', 'evenrow') %>" <%= hide_from_other_users(odt.user.id)%> >
      <div class="large-5 columns">
        <%= "#{odt.title} for #{tors(odt).company.name}" %>
      </div>
      <div class="large-1 columns">
        <%= odt.instance_of?(Task) ? 'Task' : 'Status' %>
      </div>
      <div class="large-1 columns">
        <%= link_to :view, task_path(tors(odt).id) %>
      </div>
      <% if current_user.id == odt.user_id %>
      <div class="large-1 columns">
        <%= link_to :clear, task_complete_path(tors(odt).id, odt.schedule.id,  l(od_date, format: :short_date_only)), remote: true %>
      </div>
      <% end %>
      <div class="large-4 columns">
        <span style='color: red'><%= l od_date, format: :date_only %></span>
      </div>
    </div>
  <% end %>
</div>

<div class="small-6">
  <%= will_paginate @overdue_tasks, renderer: FoundationPagination::Rails %>
</div>
