<%= form_for(@task, remote: @remote) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="large-4">
    <div class="field">
      <%= f.label :company %>
      <%= f.collection_select :company_id, Company.order(:name), :id, :name %>
    </div>
  </div>
  <div class="large-4">
    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
    </div>
  </div>

  <div class="large-4">
    <div class="field">
      <%= f.label :user %>
      <%= f.collection_select :user_id, User.order(:last_name, :first_name), :id, :full_name %>
    </div>
  </div>

  <div class="large-4">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="large-12">
    <div class="field">
      <%= f.label :info %><br />
      <%= f.cktext_area :info %>
    </div>
  </div>

  <div id="scheduler">
    <%= link_to('#', onclick: "toggle_tree('#task-scheduler-#{@task.id}', '#task-toggle-#{@task.id}')") do %>
          <span id="task-toggle-<%=@task.id%>" class="ui-icon ui-icon-triangle-1-e left") ></span>Scheduler
        <% end %>
    <div id="task-scheduler-<%= @task.id %>" style="display:none">
      <%= f.fields_for :schedule do |build| %>
        <%= render('scheduler', f: build ) %>
      <% end %>
    </div>
  </div>
 </div>

  <div class="large-4">
    <div class="actions button-group round even-2">
      <%= f.submit :class => 'button' %>
      <% if @task.new_record? %>
        <%= button_to_function 'Cancel', raw("document.location='#{tasks_path}'"), :class => 'button'%>
      <% else %>
        <%= button_to_function 'Cancel', raw('$("#task-' + @task.id.to_s + '").empty().append("' + j(render('show_task', task: @task)) + '")'), :class => 'button' %>
      <% end %>
    </div>
  </div>
  <hr/>
<% end %>
