<% @remote = @parent.nil? ? false: true %>
<%= form_for(@task, remote: @remote) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@task.new_record? || !@parent.nil? %>
    <% if @parent %>
      <%= f.hidden_field :child_of_id, value: @parent.id %>
      <%= f.hidden_field :company_id, value: @parent.company_id %>
    <% else %>
      <%= f.hidden_field :company_id, value: @task.company_id %>
    <%end%>
  <% else %>
    <div class="large-4">
      <div class="field">
        <%= f.label :company %>
        <%= f.collection_select :company_id, Company.order(:name), :id, :name %>
      </div>
    </div>
  <% end %>

  <div class="large-4">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="large-12">
    <div class="field">
      <%= f.label :info %><br />
      <%= f.cktext_area :info %>
    </div>
  </div>

  <div id="scheduler" class="panel">
    <%= link_to_function 'Scheduler', '$("#scheduler-' + @task.id.to_s + '").toggle()' %>
    <%= f.fields_for :schedule do |build| %>
      <%= render('scheduler', f: build, task: @task) %>
    <% end %>
  </div>

  <div class="large-4">
    <div class="actions">
      <%= f.submit %>
      <% if @task.new_record? && @parent.nil?%>
      <% elsif @task.new_record? %>
        <%= button_to_function 'Cancel', raw('$("#new-subtask").empty(); $("#new-subtask-link").show();') %>
      <% else %>
        <%= button_to_function 'Cancel', raw('$("#task-' + @task.id.to_s + '").empty().append("' + j(render('show_task', task: @task)) + '")') %>
      <% end %>
    </div>
  </div>
<% end %>
