<div class="large-4 scheduler_type_container">
  Type:
  <p class="large-4" id="scheduler_type">
    <%= f.select(:kind, 
          [
            ['None', :none], 
            ['Once', :once],
            ['Yearly', :yearly],
            ['Monthly', :monthly],
            ['Weekly', :weekly],
            ['Start of Month', :first_day_month],
            ['Last of Month', :last_day_month],
          ], {}, 
          class: "schedule_type_select"
       )
    %>
  </p>

  <div id="schedule_once" class="container" style="<%= kind == :once ? '' : 'display:none' %>">
      On Date: 
      <p class="large-4">
        <%= f.date_select( :once_date, order: [:year, :month, :day]) %>
      </p>
  </div>
  
  <div id="schedule_yearly" class="container" style="<%= kind == :yearly ? '' : 'display:none' %>">
      on
      <p class='large-4'>
        <%= f.date_select( :yearly_date, order: [:month, :day]) %>
      </p>
  </div>
  
  <div id="schedule_monthly" class="container" style="<%= kind == :monthly ? '' : 'display:none' %>">
      on
      <p class='large-4'>
        <%= f.select( :monthly_day, (1..31)) %>
      </p>
  </div>
  
  <div id="schedule_weekly" class="container" style="<%= kind == :weekly ? '' : 'display:none' %>">
    <div class="row collapse">
      <div class="large-1 columns"><label class="inline">Every</label></div>
      <div class="large-1 columns"><%= f.text_field :weekly_interval, id: :weekly_interval %></div>
      <div class="large-1 columns">&nbsp;<label class="inline right">weeks.</label></div>
      <div class="large-9 columns"></div>
    </div>
    <div class="row collapse">
      <div class="large-2 columns">Starting on</div>
      <div class='large-10 columns'><%= f.date_select( :weekly_date, order: [:month, :day]) %></p>
    </div>
  </div>
</div>
