<div class="large-4 scheduler_type_container">
  Type:
  <p class="large-4" id="scheduler_type">
    <%= f.select(:kind, 
          [
            ['None', :none], 
            ['Daily', :daily], 
            ['Every Weekday', :daily_work], 
            ['Once', :once],
            ['Yearly', :yearly],
            ['Monthly', :monthly],
            ['Every X Month', :few_months],
            ['Weekly', :weekly],
            ['Start of Month', :first_day_month],
            ['Last of Month', :last_day_month],
          ], {}, 
          class: "schedule_type_select"
       )
    %>
  </p>

  <div id="schedule_once" class="container" style="<%= kind == 'once' || @show_scheduler ? '' : 'display:none' %>">
      <div class="row collapse">
        <div class="large-2 columns">
          On 
        </div>
        <div class="large-4 columns">
          <%= f.text_field( :once_date, class: 'scheduler_once_date') %>
        </div>
        <div class="large-6"></div>
      </div>
  </div>
  
  <div id="schedule_yearly" class="container" style="<%= kind == 'yearly' || @show_scheduler ? '' : 'display:none' %>">
      <div class="collapse row">
        <div class="large-1 columns">
          <label class="inline">On</label>
        </div>
        <div class='large-4 columns'>
          <%= f.text_field( :yearly_date, class: 'scheduler_yearly_date') %>
        </div>
        <div class="large-7"></div>
      </div>
      <div class="row collapse">
        <em>*Year part not important for calculating yearly date.</em>
      </div>
  </div>

  <div id="schedule_monthly" class="container" style="<%= kind == 'monthly' || @show_scheduler ? '' : 'display:none' %>">
      <div class="collapse row">
        <div class="large-1 columns">
          <label class="inline">On</label>
        </div>
        <div class='large-2 columns'>
          <%= f.select( :monthly_day, (1..31)) %>
        </div>
        <div class="large-9 columns">
          <label class="inline">&nbsp;&nbsp;day of the month.</label>
        </div>
      </div>
  </div>

  <div id="schedule_few_months" class="container" style="<%= kind == 'few_months' || @show_scheduler ? '' : 'display:none' %>">
    <div class="collapse row">
      <div class="large-1 columns">
        <label class="inline">Every</label>
      </div>
      <div class='large-2 columns'>
        <%= f.text_field :few_months_recur, id: :few_months_recur %>
      </div>
      <div class='large-2 columns'>
        <label class="inline">&nbsp;months</label> 
      </div>
      <div class="large-7 columns">&nbsp;</div>
    </div>

    <div class="collapse row">
      <div class="large-1 columns">
        <label class="inline">On the</label>
      </div>
      <div class='large-2 columns'>
        <%= f.select( :few_months_day, (1..31)) %>
      </div>
      <div class='large-2 columns'>
        <label class="inline">&nbsp;day.</label>
      </div>
      <div class="large-7 columns">&nbsp;</div>
    </div>
  </div>

  <div id="schedule_weekly" class="container" style="<%= kind == 'weekly' || @show_scheduler ? '' : 'display:none' %>">
    <div class="row collapse">
      <div class="large-6 columns" >
        <div class="row collapse">
          <div class="small-2 columns"><label class="inline">Every</label></div>
          <div class="small-6 columns"><%= f.text_field :weekly_interval, id: :weekly_interval %></div>
          <div class="small-1 columns"><label class="inline">&nbsp;&nbsp;weeks</label></div>
          <div class="small-3 columns">&nbsp;</div>
        </div>
        <div class="row collapse">
          <div class="small-3 columns"><label class="inline">Starting on</label></div>
          <div class='small-8 columns'><%= f.text_field( :weekly_date, class: 'scheduler_weekly_date') %></p>
          <div class="small-1 columns">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
