<div id="task-<%=task.id%>" class="callout large-12">
  <h2><%= task.title %></h2>
  <div class="panel"><p><%= task.info.html_safe %></p></div>
  <fieldset>
    <legend>Scheduled</legend>
      <p><%= task.schedule.to_s %></p>
   </fieldset>
  <div class="panel">
    <em>Created:</em> <%= l task.created_at, format: :long_dateweek %><br/>
    <em>Updated:</em> <%= l task.updated_at, format: :long_dateweek %><br/>
    <em>owned by:</em> <%= task.user.full_name %><br/>
    <% if task.schedule.exists? %>
      <% next_date = task.schedule.next_occurrence %>
      <% 
        complete = !task.schedule.history_on(next_date).nil? 
      %>
      <% if !next_date.nil? %>
        <em>next occurence:</em><%= l next_date, format: :date_only%>
      <% end %>
      <br/><br/>
      <% if !task.schedule.next_occurrence.nil? && current_user.id == task.user_id  %>
        <%= form_tag task_complete_current_url(task.id, task.schedule.id), remote:true, id: 'complete_form' do %>
          <div class="large-3">
            <div class="large-6 switch round">
              <%= radio_button_tag "complete", 
                    "false", 
                    !complete, 
                    {
                      onchange: "$('#complete_form').submit();"
                    }
              %>
              <%= label_tag 'Off', 'No', class:'light-text'%>

              <%= radio_button_tag "complete", 
                    "true", 
                    complete,
                    {
                      onchange: "$('#complete_form').submit();"
                    }
              %>
              <%= label_tag 'On', 'Yes', class:'light-text' %>
              <span></span>
            </div>
          </div>
        <% end %> 
      <% end %>
    <% end %>
  </div>
  <div class="button-bar">
    <ul class="button-group radius round">
      <li><%= link_to 'Edit', edit_task_path(task), class: 'button small', remote: true %> </li>
      <li><%= link_to 'History', task_history_url(task.id), class: 'button small' %></li>
    </ul>
  </div>
</div>
<hr/>
