<div id="outer-status-<%=status.id%>" class="large-8">
  <h3><%= status.title %></h3>
  <div class="panel"><p><%= status.info.html_safe %></p></div>
  <fieldset>
    <legend>Scheduled</legend> 
    <p><%= status.schedule.to_s %></p>
  </fieldset>
  <div class="panel">
    <em>Created: <%= l status.created_at, format: :long_dateweek %></em><br/>
    <em>Updated: <%= l status.updated_at, format: :long_dateweek %></em><br/>
    <em>owned by: <%= status.user.full_name %></em><br/>
    <% if status.schedule.exists? %>
      <% next_date = status.schedule.next_occurrence %>
      <% 
        complete = !status.schedule.history_on(next_date).nil? 
      %>
      <% if !next_date.nil? %>
        <em>next occurence: <%= l next_date, format: :date_only%></em><br/>
      <% end %>
      <br/><br/>
      <%= form_tag task_complete_current_url(status.task.id, status.schedule.id), remote:true, id: "complete_form_#{status.id}" do %>
        <div class="large-3">
          <div class="large-6 switch round">
            <%= radio_button_tag "complete", 
                  "false", 
                  !complete, 
                  {
                    onchange: "$('#complete_form_#{status.id}').submit();"
                  }
            %>
            <%= label_tag 'Off', 'No', class: 'light-text' %>

            <%= radio_button_tag "complete", 
                  "true", 
                  complete,
                  {
                    onchange: "$('#complete_form_#{status.id}').submit();"
                  }
            %>
            <%= label_tag 'On', 'Yes', class:'light-text' %>
            <span></span>
          </div>
        </div>
      <% end %> 
    <% end %>
  </div>
  <%= link_to 'Edit', edit_task_status_path(task.id, status.id), class: 'button small round', remote: true %> 
</div>
<hr/>
