<div id="outer-status-<%=status.id%>" class="large-8">
  <h3><%= status.title %></h3>
  <div class="panel"><p><%= status.info %></p></div>
  <fieldset>
    <legend>Scheduled</legend> 
    <p><%= status.schedule.to_s %></p>
  </fieldset>
  <div class="panel">
    <em>Created: <%= l status.created_at, format: :long_dateweek %></em><br/>
    <em>Updated: <%= l status.updated_at, format: :long_dateweek %></em><br/>
    <em>owned by: <%= status.user.full_name %></em>
    <% if status.schedule.exists? %>
      <em>next occurence:</em><%= l task.schedule.ice_cube.next_occurrence(@start_date), format: :date_only%><br/>
    <% end %>
  </div>
  <%= link_to 'Edit', edit_task_status_path(task.id, status.id), class: 'button small round', remote: true %> 
</div>
<hr/>
