<div id="task-<%=task.id%>" class="panel callout large-8">
  <h3><%= task.title %></h3>
  <em>Created: <%= l task.created_at, format: :long_dateweek %></em><br/>
  <em>Updated: <%= l task.updated_at, format: :long_dateweek %></em><br/>
  <em>owned by: <%= task.user.full_name %></em>
  <hr/>
  <p><%= task.info %></p>
  <p>Scheduled: <%= task.schedule.to_s %></p>
  <%= link_to 'Edit', edit_task_path(task), remote: true %> 
</div>
<hr/>
