<%= form_for(@status, url: @status.new_record? ? new_task_status_path(@task, @status) : update_task_status_path(@task, @status), remote: true) do |f| %>
  <div class="large-4">
    <div class="field">
      <%= f.label :user %>
      <%= f.collection_select :user_id, User.order(:last_name, :first_name), :id, :full_name %>
    </div>
  </div>

  <div class="large-4">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="large-12">
    <div class="field">
      <%= f.label :info %><br />
      <%= f.cktext_area :info %>
    </div>
  </div>

  <div>
    <fieldset>
      <legend>Scheduler</legend>
      <div id="scheduler-status-<%= @status.id %>" class="task-scheduler-div">
        <%= f.fields_for :schedule do |build| %>
          <%= render('scheduler', f: build, task: @task, kind: @status.schedule.kind) %>
        <% end %>
      </div>
    </fieldset>
  </div>
  <div class="button-group round even-2">
    <%= f.submit 'Update News', :class => 'button small' %>
    <% if @status.new_record? %>
      <%= button_to_function 'Cancel', raw('$("#new-status' + @status.id.to_s + '").empty(); $("#new-status-link").show()'), :class => 'button small' %>
    <% else %>
      <%= button_to_function 'Cancel',  raw('$("#outer-status-' + @status.id.to_s + '").empty().append("' + j(render('show_status', status: @status, task:@task)) + '")'), :class => 'button small' %>
    <% end %>
  </div>
<% end %>
