<h1>Listing tasks</h1>
<% content_for :title, 'Tasks' %>

<%= form_tag tasks_path, method: :get do %>
  <div class="row">
    <div class="columns large-4">
      <%= collection_select nil, :company_id, Company.order(:name), :id, :name, 
          {:include_blank => 'All Companies', selected: params[:company_id.to_s]} %> 
    </div>
    <div class="columns large-4">
      <%= collection_select nil, :user_id, User.order(:last_name, :first_name), :id, :full_name, 
          {:include_blank => 'All Users', selected: params[:user_id.to_s]} %> 
    </div>
    <div class="columns large-4">
      <%= text_field_tag :search_text, params[:search_text] %>
    </div>
    <div class="columns large-4">
      <%= submit_tag 'Filter', name: nil %>
    </div>
  </div>
<% end %>

<%= will_paginate @tasks %>

<table>
  <tr>
    <th></th>
    <th>Company</th>
    <th>Title</th>
    <th>Schedule</th>
    <th>Parent</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td>
      <% if task.children.size > 0 %>
        <%= link_to('#', onclick: "toggle_tree('subtask-#{task.id}', 'task-toggle-#{task.id}')") do %>
          <span id="task-toggle-<%=task.id%>" class="ui-icon ui-icon-triangle-1-e")></span>
        <% end %>
      <% end %>
    </td>
    <td><%= task.company.name %></td>
    <td><%= link_to task.title, task %></td>
    <td><%= task.schedule %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% task.children.each do |child| %>
    <tr class="subtask-<%= task.id %>" style="display: none;">
      <td></td>
      <td></td>
      <td><%= link_to child.title, child %></td>
      <td><%= child.schedule %></td>
      <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<% end %>
</table>

<%= will_paginate @tasks %>

<br />

<%= link_to 'New Task', new_task_path %>
