<% c 'Tasks' %>
<% content_for :title, 'Tasks' %>

<div class="panel large-12">
  <%= form_tag tasks_path, method: :get do %>
    <div class="row">
      <div class="large-3 columns">
        <%= collection_select nil, :company_id, Company.order(:name), :id, :name, 
            {:include_blank => 'All Companies', selected: params[:company_id.to_s]} %> 
      </div>
      <div class="large-3 columns">
        <%= collection_select nil, :category_id, Category.order(:name), :id, :name, 
            {:include_blank => 'All Categories', selected: params[:category_id.to_s]} %> 
      </div>
      <div class="large-3 columns">
        <%= collection_select nil, :user_id, User.order(:last_name, :first_name), :id, :full_name, 
            {include_blank: 'All Users', selected: params[:user_id.to_s]} %> 
      </div>
      <div class="large-2 columns">
        <%= text_field_tag :search_text, params[:search_text], size: 50 %>
      </div>
      <div class="large-1 columns">
        <%= submit_tag 'Filter', name: nil, class: 'button small' %>
      </div>
    </div>
  <% end %>
</div>

<div>
  <%= button_to 'New Task', new_task_path, :class => 'button small round', method: 'get' %>
</div>

<div class="small-6">
  <%= will_paginate @tasks, renderer: FoundationPagination::Rails %>
</div>

<div class="row headerrow">
  <div class="small-4 columns">Title</div>
  <div class="small-4 columns">Company</div>
  <div class="small-2 columns">Owner</div>
  <div class="small-1 columns">Due Next</div>
  <div class="small-1 columns">&nbsp;</div>
</div>

<% @tasks.each do |task| %>
<div class="row <%= cycle('oddrow', 'evenrow') %>" >
  <div class="small-4 columns">
    <div class="row">
      <div class="columns">
        <div class="row">
          <div class="columns small-1">
          <%= link_to('#', onclick: "toggle_tree('.subtask-#{task.id}', '#task-toggle-#{task.id}')") do %>
            <span id="task-toggle-<%=task.id%>" class="ui-icon ui-icon-triangle-1-e"></span>
          <% end %>
          </div>
          <div class="columns small-11">
            <%= link_to task.title, task %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-4 columns"><%= task.company.name %></div>
  <div class="small-2 columns"><%= task.user.full_name %></div>
  <div class="small-1 columns"><%= short_date(task.schedule.next_occurrence) %></div>
  <div class="small-1 columns"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>

<div class="subtask-<%= task.id %> panel" style="display: none;">
  <div class="row">
    <div class="large-1 text-right columns">
      <strong>Company:</strong>
    </div>
    <div class="large-11 columns"> 
      <%= task.company.name %>
    </div>
  </div>
  <div class="row">
    <div class="large-1 text-right columns">
      <strong>Category:</strong>
    </div>
    <div class="large-11 columns"> 
      <%= task.category.name %>
    </div>
  </div>
  <div class="row">
    <div class="large-1 text-right columns">
      <strong>Statuses:</strong>
    </div>
    <div class="large-11 columns"> 
      <%= task.statuses.length %>
    </div>
  </div>
</div>
<%end%> <!-- end of task loop -->

<div class="large-12">
  <%= will_paginate @tasks, renderer: FoundationPagination::Rails %>
</div>
