<h1>Listing tasks</h1>
<% content_for :title, 'Tasks' %>

<%= will_paginate @tasks %>
<table>
  <tr>
    <th></th>
    <th>Company</th>
    <th>Title</th>
    <th>Schedule</th>
    <th>Parent</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td>
      <%= link_to('#', onclick: "toggle_tree('subtask-#{task.id}', 'task-toggle-#{task.id}')") do %>
        <span id="task-toggle-<%=task.id%>" class="ui-icon ui-icon-triangle-1-e")></span>
      <% end %>
    </td>
    <td><%= task.company.name %></td>
    <td><%= link_to task.title, task %></td>
    <td><%= task.schedule %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% task.children.each do |child| %>
    <tr class="subtask-<%= task.id %>" style="display: none;">
      <td></td>
      <td></td>
      <td><%= link_to child.title, child %></td>
      <td><%= child.schedule %></td>
      <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
