<% content_for :title, 'Task Detail' %>

<div id="task-<%=@task.id%>" class="large-8">
  <h1><%= @task.company.name %></h1>
  <%= render 'show_task', task:@task %>
</div>

<% if @task.parent.nil? %>
  <%= link_to "new subtask", new_task_path(task_id: @task.id), remote: true, id: 'new-subtask-link' %>
  <div id="new-subtask">
  </div>
  <hr/>
  <div id="subtasks" class="panel">
    <p id="none-msg" <%= !@subtasks.empty?() ? raw('style="display:none"') : '' %>>No updates</p>
    <% @subtasks.each do |s| %>
      <%= render 'show_task', task: s %>
    <% end %>
  </div>
<% end %>
