<% content_for :title, 'Task Detail' %>

<div id="task-<%=@task.id%>" class="large-8">
  <h1><%= @task.company.name %></h1>
  <%= render 'show_task', task:@task %>
</div>

<%= link_to "new note", new_task_status_path(task_id: @task.id), remote: true, id: 'new-status-link',
      :class => 'button round'  %>
<div id="new-status">
</div>
<hr/>
<h2>Notes</h2>
<div id="statuses">
  <p id="none-msg" <%= !@subtasks.empty?() ? raw('style="display:none"') : '' %>>No updates</p>
  <% @subtasks.each do |s| %>
    <div id="outer-status-<%= s.id %>">
      <%= render 'show_status', task: @task, status: s %>
    </div>
  <% end %>
</div>
