<% c 'Groups' %>

<%= link_to 'New Group', new_group_path, class: 'button small' %>

<div class="row large-12">
  <div class="columns large-5">Name</div>
  <div class="columns large-1">&nbsp;</div>
  <div class="columns large-1">&nbsp;</div>
  <div class="columns large-1">&nbsp;</div>
  <div class="columns large-4">&nbsp;</div>
</div>

<% @groups.each do |group| %>
  <div class="row large-12">
    <div class="columns large-5"><%= group.name %></div>
    <div class="columns large-1"><%= link_to 'Show', group %></div>
    <div class="columns large-1"><%= link_to 'Edit', edit_group_path(group) %></div>
    <div class="columns large-1"><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <div class="columns large-4">&nbsp;</div>
  </div>
<% end %>

