<% if @year_of_nothing %>
  <div class="panel">
    <p class="text-center"><strong>Stopped after a year of finding nothing.</strong></p>
  </div>
<% else %>
  <% @happenings.sort.each do |date, reminders| %>
    <% curr_company = nil %>
    <div>
      <fieldset>
        <legend>
          <%= l date, format: :long_dateweek %>
        </legend>
        <% reminders.each_with_index do |remind, i| %>
          <% o = remind.schedule.all_overdue() %>
            <% if tors(remind).company.name != curr_company %>
              <h3><%= tors(remind).company.name %></h3>
              <% curr_company = tors(remind).company.name %>
            <% end %>
            <div class="small-8">
              <div class='row'>
                <div class='columns small-1'><span class='ui-icon ui-icon-bullet'></span></div>
                <div class='columns small-5'><%= remind.title %></div>
                  <% if params[:show_all] %>
                    <div class='columns small-3'><%= remind.user.full_name %></div>
                  <% end %>
                  <% if remind.instance_of?(Status) %>
                    <div class='columns small-1'><%= link_to :view, task_path(remind.task.id) %></div>
                  <% else %>
                    <div class='columns small-1'><%= link_to :view, task_path(remind.id) %></div>
                  <% end %>
                <div class="columns small-2">
                  <% 
                    complete = !remind.schedule.history_on(date).nil? 
                  %>
                  <%= form_tag task_complete_url(tors(remind).id, remind.schedule.id, l(date,format: :short_date_only)), remote: true, id:"complete-form-#{remind.schedule.id}-#{short_date(date)}" do  %>
                      <div class="switch round">
                      <%= radio_button_tag "complete", 
                            "false", 
                            !complete, 
                            {
                              onchange: "$('#complete-form-#{remind.schedule.id}-#{short_date(date)}').submit();"
                            }
                      %>
                      <%= label_tag 'Off', 'No', class:'light-text'%>

                      <%= radio_button_tag "complete", 
                            "true", 
                            complete,
                            {
                              onchange: "$('#complete-form-#{remind.schedule.id}-#{short_date(date)}').submit();"
                            }
                      %>
                      <%= label_tag 'On', 'Yes', class:'light-text' %>
                      <span></span>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </fieldset>
    </div>
  <% end %>
<% end %>
