<% content_for :title, 'Agenda' %>
<% 
  header = "From <span id='start_date'>#{@start_date.to_s}</span> to <span id='end_date'>#{@end_date.to_s}</span> for"
  if params[:show_all]
    header += " All"
  else
    header += " #{current_user.full_name}"
  end

  c header
 %>
<% if current_user.admin? %>
  <div class="panel">
    <%= form_tag agenda_url, id: 'view_all_form' do |f| %>
      <div class="large-3">
        <div class="row">
          <div class="small-1 columns"><%= check_box_tag :show_all, :show_all, params[:show_all], onclick: "$('#view_all_form').submit()" %></div>
          <div class="small-11 columns"><%= label_tag 'View All' %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<% if current_user.admin? && @show_all %>
  <% User.find(:all, order: 'last_name, first_name').each do |u|  %>
    <% if u.has_overdue? %>  
       <div class="alert-box alert"><%= "#{u.full_name} has overdue items."%></div>
    <% end %>
  <% end %>
<% else %>
  <% if current_user.has_overdue? %>
    <div class="alert-box alert"><strong>You have overdue items.</strong></div>  
  <% end %>
<% end %>

<div id="agenda_list" class="panel">
  <%= render partial: 'agenda_list' %>
</div>
<% if !@happenings.empty? %>
  <div id="load_more" class="panel">
    <p class="text-center"><strong>
      <%= link_to "load more", agenda_path(@end_date, show_all: params[:show_all]), remote: true, id: 'load_more_link' %>
    </strong></p>
  </div>
<% end %>
