<fieldset>
  <div class='row'>
    <div class='columns myheader'>
      <center><h3>Task List</h3></center>
    </div>
  </div>
  <% @tasks.each do |t| %>
    <div id='task_<%= t.id %>' class="data row <%= cycle('oddrow', 'evenrow')%> <%= same(t.id, @task.id, 'selected') %>">
      <div class='columns' style='padding:5px'>
        <%= check_box_tag 'completed', t.id , t.checked, :class => "task-check", onclick:"javascript:checkeded(#{t.id})" %>
        <%= link_to t.title, glance_task_info_path(task_id: t.id), remote: true %>
        <% if !t.schedule.next_occurrence.nil? %>
          <br/>
          <em><%= l t.schedule.next_occurrence, format: :date_only %></em>
        <% end %>
      </div>
    </div>
  <% end %>
</fieldset>

<script language='javascript'>
  function checkeded(id) { 
    $.ajax({
      url: '/tasks/'+id+'/check_it',
      type: 'POST',
    });
  }
</script>
