<% if @user.errors.any? %>
  <% @user.errors.messages.each do |field, msgs| %>
    <p class="alert-box alert"><%= field.to_s + ' ' + msgs.join(' ')%></p>
  <% end %>
<% end %>

<div class="large-2">
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
</div>
<div class="large-2">
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
</div>
<div class="large-2">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
</div>
<div class="large-2">
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
</div>
<div class="large-2">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
</div>
<div class="large-1">
  <label>Admin</label>
  <div class="large-6 switch round">
    <%= f.radio_button :admin, "false", id: "not_admin" %>
    <%= f.label 'Off', for: 'not_admin' %>

    <%= f.radio_button :admin, "true", id: "admin" %>
    <%= f.label 'On', for: 'admin' %>
    <span></span>
  </div>
</div>

